body{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 35px;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 0px 0px;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}

svg{
    cursor: pointer;
    height: 20px;
    width: auto;
}

hr{
    border-top: 1px solid #000;
    opacity: 10%;
    width : 100%;
}

.home{
    font-size: 32px;
    font-weight: 400;
    line-height: 36.8px;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 50%;
    background-color: #F0F0F0;
    border-radius: 30px;
    padding: 1rem 1rem;
}

.search_input::placeholder{
    color: #00000066;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.4px;
}
  
.search_input {
    font-family: inherit;
    font-size: inherit;
    background-color: #F0F0F0;
    border: none;
    color: #000000;
    width: auto;
}

.search_input:focus {
    outline: none;
    background-color: #F0F0F0;
}
  
.search_input::-webkit-input-placeholder {
    font-weight: 100;
    color: #ccc;
}

.spy{
    opacity: 40%;
}

.logo_end{
    display: flex;
    gap: 15px;
}

.shop{
    display: flex;
    gap: 10px;
    align-items: center;
}

.hamburger-menu{
    display: none;
}

@media screen and (max-width: 1200px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 30px;
    }

    .home {
        display: flex;
        font-size: 25.2px;
        line-height: 28.98px;
        padding-left: 20px;
    }

    a,
    .chevron{
        display: none;
    }

    .hamburger-menu{
        display: block;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
    }
    
    #menu__toggle {
        display: none;
    }
    
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        list-style: none;
        background-color: #F0F0F0;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }

    .menu__item {
        display: block;
        padding: 12px 24px;
        color: #000000;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }

    .menu__item:hover {
        background-color: #b9b9b9;
    }
    
    .burger-menu-line {
        display: flex;
        position: relative;
        width: 30px;
        height: 4px;
        background-color: black;
        margin: 6px 0;
        transition: all 0.3s;
        z-index: 1;
    }
    
    #menu__toggle:checked + .menu__btn .burger-menu-line {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    
    #menu__toggle:checked + .menu__btn .burger-menu-line:nth-child(1) {
        transform: translateY(-7px) rotate(45deg);
    }
    
    #menu__toggle:checked + .menu__btn .burger-menu-line:nth-child(2) {
        opacity: 0;
    }
    
    #menu__toggle:checked + .menu__btn .burger-menu-line:nth-child(3) {
        transform: translateY(-7px) rotate(-45deg);
    }

    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
}

@media screen and (max-width: 600px) {
    body {
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 10px;
    }

    .home {
        display: flex;
        font-size: 25.2px;
        line-height: 28.98px;
        padding-left: 20px;
    }

    a,
    input,
    .spy,
    .shop
    .chevron{
        display: none;
    }

    .search {
        background: #FFFFFF;
    }
    .hamburger-menu{
        display: block;
        cursor: pointer;
        height: fit-content;
        width: fit-content;
    }

    .menu__box {
        width: 100%;
    }
}